body {
  background: #fffdfa;
  text-align: center;
  margin: 10px;
}
h1 {
  color: rgb(5, 85, 58);
}

.croissant-img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  text-decoration: underline;
  color: #5c3100;
  margin: 0 10px;
}
.link {
  padding: 5px;
}
